:root{
    --text:white;
    --color-header:#2c3e50;
    --height: 80px;
    --green: #1abc9c;
    --bs-dark-rgb: 44, 62, 80;

}


.bg-green{
 background-color: var(--green);
}

#navbarNav{
    flex-grow: 0;
}

.icon{
    border-radius: 50%;
    width: 300px;
}

i{
    width: 50px;
    display: inline-block;
}
hr{
    width: calc(50% - 50px);
}

.col-2 img{
    width: 100%;
}

.img{
    width: 100%;
}
